body{
    background-color: green;
}
#right{

    text-align: center;
    position: absolute;
    right: 0;
    top: 25%;
    width: 25%;
    /*height:30%;*/
    font-size: 20px;
}
#left{

    text-align: center;
    position: absolute;
    left: 0;
    top: 25%;
    width: 25%;
    font-size: 20px;
}
#top{

    text-align: center;
    position: absolute;
    left: 35%;
    width: 30%;
    top: 0;

    height:20%;
}
#button{
    text-align: center;
    position: absolute;
    left: 35%;
    bottom: 5%;
    width: 30%;
    height:20%;
}
#center{
    background-color: antiquewhite;
    text-align: left;
    position: absolute;
    left: 35%;
    top: 25%;
    width: 30%;
    height:20%;
}
#center1{
//background-color: red;
    text-align: center;
    position: absolute;
    left: 32%;
    top: 25%;


}
#who_Win{
    font-size: 50px;
    align-content: center;
    color: red;
}